<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Damion&display=swap" rel="stylesheet">

  <link rel="stylesheet" href="/styles/main.css">
  <link rel="stylesheet" href="/styles/menuAndPro.css">
  <link rel="stylesheet" href="/styles/delivery.css">

  <title>Delivery</title>
</head>
<body class="bg">
  <%- include('parts/header')%>

  <main>
    <h2>DELIVERY SÃO PAULO</h2>
    <div class="mapSP">
      <span>Cidade 01</span>
      <p>Tell: (00) 9 8888 - 8888</p>
    </div>
    <div class="mapSP">
      <span>Cidade 02</span>
      <p>Tell: (00) 9 8888 - 8888</p>
    </div>
    <div class="mapSP">
      <span>Cidade 03</span>
      <p>Tell: (00) 9 8888 - 8888</p>
    </div>
    <div class="mapSP">
      <span>Cidade 04</span>
      <p>Tell: (00) 9 8888 - 8888</p>
    </div>
  </main>
</body>
</html>