<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="stylesheet" href="/styles/main.css">
    <link rel="stylesheet" href="/styles/home.css" />
    <title>Home page</title>
  </head>
  <body>
    <header>
      <div class="containerHeader">
        <nav class="menu">
          <a href="#">HOME</a>
          <a href="#">MENU</a>
          <a href="#">PROMOTIONS</a>
          <a href="#">DELIVERY</a>
        </nav>
      </div>
      <h1>Pizzaria Gosto Perfeito</h1>
    </header>
  </body>
</html>
