<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="stylesheet" href="/styles/main.css">
    <link rel="stylesheet" href="/styles/home.css" />
    <title>Home page</title>
  </head>
  <body>
    <header>
      <div class="users">
        <p><%= profile.email %></p>
      </div>
      <div class="containerHeader">
        <nav class="menu">
          <a href="#">HOME</a>
          <a href="#">MENU</a>
          <a href="#">PROMOTIONS</a>
          <a href="#">DELIVERY</a>
        </nav>
      </div>
      <h1>Pizzaria Gosto Perfeito</h1>
    </header>
    <main>
      <section>
        <div class="containerLogin">
          <form action="/home/login" method="post">
            <p>Faça seu Login</p>
            <div class="acessLogin">
              <input type="email" id="profileLogin" placeholder="E-mail" name="email">
              <input type="password" id="profilePwd" placeholder="Senha" name="password">
              <button class="Login" type="submit">Entrar</button>
            </div>
            <div class="changePwd">
              <a href="#">Esqueceu a senha?</a>
            </div>
            <div class="separator">
              
            </div>
            <div class="createProfile">
              <a href="/home/registerProfile">Criar Conta</a>
            </div>
          </form>
        </div>
        <div class="socialMidia">
          <p>Siga-nos nas redes sociais</p>
          <a href="#"><img src="/images/facebook.svg" alt="Facebook"></a>
          <a href="#"><img src="/images/youtube.svg" alt="Youtube"></a>
          <a href="#"><img src="/images/instagram.svg" alt="Instagram"></a>
        </div>
      </section>
    </main>
  </body>
</html>
