<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="stylesheet" href="/styles/index.css">

  <script src="/scripts/modal.js" defer></script>
  <title>Pizzaria Gosto Perfeito</title>
</head>
<body>
  <header>
    <h1>Pizzaria Gosto Perfeito</h1>
  </header>
  <main>
    <section class="containerCadastro">
      <h2>Cadastramendo De Pizza</h2>
      <table>
        <tr>
          <th>ID</th>
          <th>Nome da Pizza</th>
          <th>Ingredientes</th>
        </tr>
        <% pizzas.forEach((element) => { %>
          <tr data-id="<%= element.id %>">
            <td><%= element.id %></td>
            <td><%= element.name %></td>
            <td><%= element.ingredientes %></td>
          </tr>
        <% })%>
      </table>
      <button id="addPizza" onclick="openModal()">Cadastrar Pizza</button>
      <button id="delPizza">Remover Pizza</button>
    </section>
    <div class="bgPizza">
      <div class="containerPizza">
        <form action="/index" method="POST">
          <fieldset>
            <legend>Cadastrar nova Pizza</legend>
            <div>
              <p>Pizza</p>
              <label for="cadastroPizza"></label>
              <input type="text" id="cadastroPizza" required name="name-pizza">
            </div>

            <div>
              <p>Ingredientes</p>
              <label for="cadastroIngrediente"></label>
              <input type="text" id="cadastroIngrediente" required name="name-ingredientes">
            </div>

            <button class="btCadPizza" type="submit">Cadastrar</button>
            <button class="btCancelar">Cancelar</button>
          </fieldset>
        </form>
      </div>
    </div>
  </main>
</body>
</html>