<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="stylesheet" href="/styles/main.css" />
    <link rel="stylesheet" href="/styles/creatAndEdit.css" />
    <title>Cadastro de Pizza</title>
  </head>
  <body>
    <div class="bg">
      <main>
        <div class="container">
          <div class="content">
            <form action="/registerPizza" method="POST" id="form-pizza">
              <fieldset>
                <legend>Cadastrar Pizza</legend>

                <div>
                  <label for="cadastroPizza">Nome da Pizza</label>
                  <input
                    type="text"
                    id="cadastroPizza"
                    required
                    name="name-pizza"
                  />
                </div>
  
                <div>
                  <label for="cadastroIngrediente">Ingredientes</label>
                  <input
                    type="text"
                    id="cadastroIngrediente"
                    required
                    name="name-ingredientes"
                  />
                </div>
  
                <div>
                  <label for="CadastroValor">Valor R$</label>
                  <input
                    type="number"
                    id="CadastroValor"
                    step="any"
                    required
                    name="name-valor"
                  />
                </div>
                <div class="actionsButton">
                  <button class="btCadPizza" type="submit">Cadastrar</button>
                  <a class="cancel" href="/">Cancelar</a>
                </div>
              </fieldset>
            </form>
          </div>
        </div>
      </main>
    </div>
  </body>
</html>
