/*=========== CARDS ===========*/

.card {
  display: grid;
  grid-template-columns: 5% 25% 45% 15% 10%;
  align-items: center;
  margin-bottom: 0.5rem;
  position: relative;
  transition: all .2s;

  background-color: var(--color-text);
  border-radius: 0.5rem;
  border: 1px solid #E1E3E6;
  color: #5a5a66;
  padding: 2.4rem;
  text-align: left;
}

.card:hover{
  background: linear-gradient(90deg, rgba(250,156,45, 0.1) 0.45,rgba(252, 253, 255, 0.1) 31.4%), white;
}
.card::before {
  content: ' ';

  width: .4rem;
  height: 0%;
  background-color: var(--color-secondary);

  border-radius: .5rem 0 0 .5rem;

  position: absolute;
  top: 0;
  left: -1px;

  transition: all .2s;
}
.card:hover::before{
  height: 100%;
}
.cadastroId, .amount p{
  font-family: IBM Plex Sans;
  font-weight: 600;
  color: var(--color-card-label);
  font-size: 2.4rem;
}
.amount p:nth-child(2){
  color: #5a5a66;
}
.namePizza, .nameIngredientes{
  font-family: IBM Plex Sans;
  font-weight: 600;
  font-size: 2.4rem;
  line-height: 3.4rem;
}
.actionsButtonRight a img, .actionsButtonRight button img{
  width: 25px;
  height: 26px;
}
.actionsButtonRight a, .actionsButtonRight button{
  display: inline-block;
  border: 1px solid rgb(118, 118, 118);
  background-color: rgb(239, 239, 239);
  border-radius: .4rem;
  cursor: pointer;
}
.actionsButtonRight a{
  margin-right: .5rem;
}