*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  --background: rgb(250, 250, 250);
  --bg-modal: rgba(0, 0, 0, 0.8);
  --button-cadastro: rgb(126, 125, 125);
  font-size: 62.25%;
}

body{
  text-align: center;
  background-color: var(--background);
}
h1{
  font-size: 34px;
  padding: 4rem;
}
/*=========== TABLE ==========*/
table{
  width: 60vw;
  
}
.containerCadastro h2{
  font-size: 28px;
  padding-bottom: 2rem;
}
table, th, td{
  border: 1px solid black;
  margin: auto;
  padding: 1rem;
}
th{
  font-size: 20px;
}
td{
  font-size: 16px;
}

/*=========== BUTTON =============*/

#addPizza, #delPizza{
  font-size: 20px;
  margin-top: 1rem;
  padding: 1rem;
  border-radius: 1rem;
  cursor: pointer;
}

/*======= MODAL CADASTRO DE PIZZA==========*/

.bgPizza{
  
  width: 100vw;
  height: 100vh;

  position: fixed;
  top: 0;
  left: 0;

  background-color: var(--bg-modal);
  display: flex;
  align-items: center;
  justify-content: center;

  display: none;
}
.bgPizza.active{
  display: flex;
}
.bgPizza .containerPizza{
  background-color: white;
  width: 30vw;
  height: 30vh;
  
  border-radius: 1rem;
}
.bgPizza .containerPizza form{
  display: block;

  width: 100%;
  height: 100%;
}
.bgPizza .containerPizza fieldset{
  width: 90%;
  height: 90%;

  margin: auto;
  margin-top: 1rem;

  border-radius: 1rem;

  text-align: center;
  padding-top: 2rem;
}

.bgPizza legend{
  font-size: 3rem;
  padding: 0 1rem 0 1rem;
}
.bgPizza p{
  font-size: 2.2rem;
}
.bgPizza input{
  font-size: 1.6rem;
  width: 90%;
}
.bgPizza .containerPizza div:nth-child(2){
  margin-bottom: 1rem;
}
.bgPizza .containerPizza button{
  padding: .8rem;
  font-size: 2rem;
  border-radius: 1rem;
  border: 1px solid var(--button-cadastro);
  margin-top: 2rem;
}
.bgPizza .containerPizza .btCadPizza{
  margin-right: 1rem;
}
.btCadPizza, .btCancelar{
  cursor: pointer;
}