body{
  background: var(--background);
}

h1{
  font-size: 4rem;
  padding: 4rem;
}
.container{
  width: min(1440px, 90vw);
  margin: 0 auto;
}
.container h2{
  font-size: 3.5rem;
}
/*=========== BUTTON / Link =============*/
.contentCadastro{
  display: flex;
  justify-content: space-between;
  margin-bottom: .5rem;
}
#registerPizza{
  text-decoration: none;
  padding: 1rem;
  border-radius: 1rem;
  cursor: pointer;
  border: 1px solid var(--button-cadastro);
  font-size: 2rem;
  background-color: rgb(239, 239, 239);
  color: rgb(26, 25, 25);
}
#registerPizza:hover{
  background-color: rgb(230, 230, 230);
}
/*======= MODAL CADASTRO DE PIZZA==========*/

.bgModal{
  
  width: 100vw;
  height: 100vh;

  position: fixed;
  top: 0;
  left: 0;

  background-color: var(--bg-modal);
  align-items: center;
  justify-content: center;

  display: none;
}
.bgModal.active{
  display: flex;
}
.bgModal .containerModal{
  background-color: white;
  width: 30vw;
  height: 30vh;
  
  border-radius: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.containerModal h3{
  font-size: 3rem;
  color: red;
  margin-bottom: 2rem;
}
.bgModal p{
  font-size: 2.2rem;
}
.containerModal button, .containerModal .cancelDelete{
  padding: .8rem;
  font-size: 2rem;
  border-radius: 1rem;
  border: 1px solid var(--button-cadastro);
  margin-top: 2rem;
  font-family: sans-serif;
  display: inline-block;
  width: 13.3rem;
  height: auto;
}
.containerModal button{
  color: red;
  cursor: pointer;
}
.containerModal .cancelDelete{
  text-decoration: none;
  padding: 1rem;
  border-radius: 1rem;
  
  border: 1px solid var(--button-cadastro);
  font-size: 2rem;
  background-color: rgb(239, 239, 239);
  color: rgb(26, 25, 25);
  
}
.containerModal .cancelDelete:hover, .containerModal button:hover{
  background-color: rgb(230, 230, 230);
}