*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  --background: linear-gradient(90deg,rgb(248, 150, 37), rgb(250, 213, 3)50%,rgb(248, 150, 37));
  --background-home:linear-gradient(90deg, rgb(248, 150, 37), rgb(250, 213, 3)70%);

  --bg-modal: rgba(0, 0, 0, 0.8);
  --button-cadastro: rgb(126, 125, 125);

  --color-text: #FCFDFF;
  --color-secondary: #F1972C;
  --color-card-label:#BFBFCC;


  font-size: 62.50%;
}
body{
  text-align: center;
}

/*========= Header / usuarios*/
header .users{
  font-size: 2.5rem;
  background-color: rgb(56, 55, 55);
  color: white;
  text-align: right;
  padding-right: 2rem;
}
/*========== Header ==========*/

header .containerHeader{
  background: var(--background-home);
  height: 5rem;
  box-shadow: 1px 1px 4px 1px rgba(0, 0, 0, 0.5);
}

header .containerHeader .menu{
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: space-evenly;
  font-weight: 700;
}
.containerHeader .menu a{
  text-decoration: none;
  color: rgb(206, 22, 22);
  font-family: sans-serif;
}
header a{
  font-size: 3rem;
}
header .logo #logo{
  font-size: 10rem;
  font-family: 'Damion', cursive;
  color: rgb(253, 18, 18);
  text-shadow: 2px 2px 4px rgb(250, 213, 3);
}
body.bg{
  background: url('/images/backgroundMenu.jpg');
  background-size: 100vw 100vh;

}