
main{
  margin-top: 3rem;

}
main h2{
  font-size: 4rem;
  margin-bottom: 1rem;
  color: white;
}
.container{
  width: min(1440px, 90vw);
  margin: auto;
}
.cards{
  display: grid;
  grid-template-columns: 48% 48%;
  justify-content: space-between;
  justify-items: stretch;
}
.cards.bebidas{
  display: grid;
  grid-template-columns: 32% 32% 32%;
}
.card {
  display: grid;
  grid-template-columns: 5% 25% 45% 15% 10%;
  align-items: center;
  margin-bottom: 0.5rem;
  position: relative;
  transition: all .2s;

  background-color: var(--color-text);
  border-radius: 0.5rem;
  border: 1px solid #E1E3E6;
  color: #5a5a66;
  padding: 2.4rem;
  text-align: center;
  box-shadow: 1px 1px 4px black;
}
.card.bebidas{
  grid-template-columns: 10% 45% 25% 20%;
  padding: 2.4rem 1rem;
}
.card:hover {
  background: linear-gradient(90deg, rgba(250, 154, 45, 0.253) 0.45%,rgba(252, 253, 255, 0.1) 31.4%), white;
}
.card::before {
  content: ' ';

  width: .4rem;
  height: 0%;
  background-color: rgb(255, 115, 0);

  border-radius: .5rem 0 0 .5rem;

  position: absolute;
  top: 0;
  left: -1px;

  transition: all .2s;
}
.card:hover::before {
  height: 100%;
}
.card p, .card div{
  font-size: 2rem;
}
.card .cardIngrediente{
  font-size: 1.5rem;
}

@media only screen and (max-width: 992px) {
  .cards{
    grid-template-columns: 100%;
  }
  .cards.bebidas{
    grid-template-columns: 48% 48%;
    justify-content: space-between;
  }
}
@media only screen and (max-width: 768px) {
  .cards.bebidas{
    grid-template-columns: 100%;
  }

}
@media only screen and (max-width: 600px) {
  header .containerHeader{
    height: auto;
    background: none;
    box-shadow: none;
  }
  header .containerHeader .menu{
    flex-direction: column;
  }
  .containerHeader .menu a{
    width: 100%;
    background: var(--background-home);
    border: 1px solid rgba(0, 0, 0, 0.5);
    border-radius: 1rem;
  }
  header #logo{
    font-size: 6rem;
  }
}