
body{
  text-align: center;
}
h1{
  font-size: 50px;
}
label{
  font-size: 30px;
}
input{
  font-size: 20px;
  
}
form a {
  text-decoration: none;
}
.btCadPizza, .cancel{
  font-size: 30px;
  padding: 7px;
  border-radius: 1rem;
  margin-top: 5rem;
  cursor: pointer;
  background-color: rgb(239, 239, 239);
  border: 1px solid rgb(118, 118, 118);
  color: rgb(19, 19, 19);
}
.content{
  display: inline-block;
}
.content div{
  text-align: left;
}
.content button, .content a{
  display: inline-block;
  width: 10rem;
  margin: auto;
  margin-top: 2rem;
  font-family: sans-serif;
}
.content a{
  width: 9rem;
  font-weight: 500;
}